









.tooltips-container {
    font-size: 16px;
    position: relative;

    height: 24em;
    width: 22em;

    overflow-y: auto;
    overflow-x: hidden;

    min-width: 4em;
    color: rgb(0, 0, 0);
    background-color: rgba(247, 247, 247, 0.582);
    border-radius: 1em;

    transition: 0.5s ease;

    margin: 1em 0 1em 0;
}

.tt-minimized {
    width: 6em;
    height: 3em;
    overflow: hidden;
    
    margin: 1em 0 1em auto;
}


.tooltip-minimize {
    position: absolute;

    top: 0.5em;
    right: 1em;

    height: 2em;
    width: 2em;

    cursor: pointer;
    overflow: hidden;

    background-image: url('../IMG/-.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.tooltip-maximize {
    background-image: url('../IMG/+.png');
}

.tooltip-text {
    font-family: 'Roboto', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1em;
    margin: 0.5em 1em;
    width: 19em;
}

.hidden {
    display: none;
}













