


#button-overlay {

    position: fixed;
    display: flex;
    flex-direction: column;

    right: 2em;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
}


.ol-box {
    font-size: 16px;
    height: fit-content;
    width: fit-content;

    background-color: #252525;

    padding: 1em;
    margin: 1em 0 1em auto;

    text-align: center;
    vertical-align: middle;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    color: white;
    border-radius: 0.5em;
}


.ol-textarea {
    width: 8em;
    height: 1em;
    resize: none;
    overflow: hidden;
}

.ol-safe-button {
    padding: 0.75em;
    background-color: rgb(66, 134, 66);
}
.ol-danger-button {
    padding: 0.5em;
    background-color: rgb(151, 70, 70);
}
.ol-example-button {
    padding: 0.5em;
    background-color: rgb(114, 114, 114);
}

.ol-m-a {
    margin-left: auto;
    margin-right: auto;
}

.ui-notif {
    position: fixed;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}







