


:root {
    /* Text Colors */
    --information: #EEEEEE;
    --shortinfo: #111111;
    
    /* Other Colors */
    --shadowColor: #11111122;
    /*--shortinfo-color: #2247e9f9;*/
    --shortinfo-color: #11cf3af5;
}

#pi-cv-link {
    color: var(--shortinfo-color) !important;
}

.short-inf-container {
    background-color: var(--shortinfo-color) !important;
    box-shadow: 0 0.125em 0.375em -0.05em var(--shadowColor);
}

.short-inf-background-image {
    background-image: url("bckgrnd_pattern_02.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.information-container {
    background-color: #FFFFFF11;
}




