



.short-inf-container {
    background-color: #2247e9f9;
}

.short-inf-background-image {
    background-image: url("bckgrnd_pattern.png");
    background-position: center;
    background-repeat: repeat;
}


.information-container {
    background-color: #FFFFFF11;
}




