@page {
    size: A4 portrait;
}

#pi-info {
    filter: invert(1);
}


html, body {
    height:100%;
    width: 100%;
    margin: 0 !important; 
    padding: 0 !important;
    overflow: hidden;
}

* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;                 /* Firefox 48 – 96 */
    print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
}

:root {
    --information: #111111;
    --shortinfo: #FFFFFF;
    --fontsize-shortinfo: 1.25rem;
    --fontsize-information: 1.375rem;
    font-size: 14px;
}

#header {
    display: none;
}

#profile-text {
    text-align: left;
}

#pi-container {
    margin: 0 auto;
}

#pi-headline {
    padding: 0 1rem;
}
#pi-cv-link {
    display: none;
}

.invert-icon {
    filter: none;
}

#headline-text {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
    font-size: 1em;
}

.inf-title-big {
    margin-top: 0;
}

.information-container {
    margin: 0;
    padding: 0 1em 1em 1em;
}

.inf-title {
    margin-top: 0.4em;
}

@media (max-width: 800px) {
    #inf-container {
        width: 64%;
        margin: 0 1em 0 0.5em;
    }
    #shortinf-container {
        width: 36%;
        margin: 0 0 0 1em;
    }
    #inf-aligner {
        flex-direction: row;
        margin: 0 auto;
        width: 50%;
        min-width: 800px;
        max-width: 1200px;
    }
    
    #profile-inf-aligner {
        width: auto;
    }
    #profile-info {
        width: auto;
    }
    #profile-title {
        text-align: left;
    }
        
    #profile-inf-aligner {
        width: 50%;
        min-width: 600px;
        max-width: 800px;
    }
}
