
:root {
    --boxColor: #FFFFFF11;
}

#direct-editing-inputfield {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  outline: none;
  min-width: 20em;
  resize: none;
}

#resume-editing-aligner {
  width: 100%;
  margin: 0 auto;
}

#resume-editing-container {
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
}

.editing-container {
  position: relative;
  height: auto;
  background-color: var(--boxColor);
  border-radius: 0.5em;
  padding: 1.5em;
  margin: auto;
}

.pagewidth {
  width: 80% !important;
}

.footspace {
  margin-bottom: 1em !important;
}

.multi-item-container {
  position: relative;
  display: flex;
  width: fit-content;
  gap: 1em;
  margin: auto;
  flex-shrink: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.circle-option {
  height: 4em;
  width: 4em;
  border: none;
  outline: none;
  border-radius: 2em;
  overflow: hidden;
  justify-content: center;
  line-height: 4em;
}

#pattern-circles-scroller {
  overflow-y: visible;
  overflow-x: auto;
  
}

.editable-text {
  position: relative;
}

.editing-title {
  text-align: center;
  margin: 0.5em;
  user-select: none;
  color: var(--information);
}

.pattern-selector {
  background-position: center;
  background-size: contain;
  outline: 2px var(--information) solid;
  outline-color: var(--information);
}
.selected-pattern-circle {
  outline-color: var(--shortinfo-color) !important;
}

.clickable {
  cursor: pointer !important;
}
.clickable:active {
  opacity: 0.4 !important;
}
.replaceable-img {
  cursor: pointer !important;
}
.replaceable-img:active {
  opacity: 0.4 !important;
}

.selected-editable {
  opacity: 0.5;
  overflow: visible;
  overflow-clip-margin: unset;
  position: relative;
}

/* ADDING AND REMOVAL BUTTONS */

.removal-button-small {
  position: absolute;
  left: 0;
  top: 0;

  height: 0.7em;
  width: 0.7em;

  background-image: url('x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.translate-middle {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.translate-middle-vertical {
  top: 50% !important;
  left: 100% !important;
  transform: translate(-100%, -50%) !important;
}

.adding-button-small {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);

  height: 1em;
  width: 1em;

  background-image: url('+.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



/* BULLET POINT ICON PICKER */

#bullet-point-icon-picker {
  position: absolute;
  padding: 1em;
  height: fit-content;
  width: fit-content;
  background-color: #ffffffee;
  z-index: 1;
  border-radius: 0.5em;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  box-shadow: 0 0.125em 0.375em -0.05em var(--shadowColor);
}

.bullet-point-showcase {
  height: 2em;
  width: 2em;
  filter: invert(0.95);
}

/* IMAGE PICKER */

#edit-image-picker {
  top: 0;
  bottom: 0;
}

/* COLOUR PICKER */
input[type="color" i]#edit-color-picker {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

input[type="color"]::-moz-color-swatch {
  border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}





/* SLIDER */

.fontsize-slider {
    /* margin auto doesn't work for sliders ... */
    width: 100%;

    height: auto;

}

input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #FFFFFF11;
  }
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: var(--shortinfo-color);
    margin-top: -1px;
  }
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: var(--shortinfo-color);
    color: #ff0000;
  }























