

#pi-container {

    display: flex;
    position: relative;

    background-color: transparent;
    /*border: white 1px solid;*/
    color: var(--information);
    
    padding-bottom: 0;
    justify-content: center;

    margin-bottom: 0;
    margin-top: 1rem;
}

#pi-headline {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pi-headshot {
    position: relative;

    height: 120px;

    border-radius: 60px;
}


#pi-info {
    position: relative;
    padding: 1rem 0 1rem 2rem;
    font-weight: 500;
    font-family: Roboto, Georgia, Times, 'Times New Roman', serif;
}

#pi-name {
    font-size: 2rem;
    font-weight: 600;
    font-family: Roboto, Georgia, Times, 'Times New Roman', serif;
    
}

#pi-skills {
    font-size: 1rem;
    font-weight: 300;
    font-family: Roboto, Georgia, Times, 'Times New Roman', serif;
    
    padding: 0.5rem 0;
}

#pi-cv-link {
    margin: 2em 0;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 200;
    font-family: Roboto, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}
