@page {
    size: A4 portrait;
}



html, body {
    height:100%;
    width: 100%;
    margin: 0 !important; 
    padding: 0 !important;
    overflow: hidden;
}


:root {
    --information: #111111;
    --shortinfo: #FFFFFF;
    --fontsize-shortinfo: 1.25rem;
    --fontsize-information: 1.375rem;
    font-size: 16px;
}

#header {
    display: none;
}

.tooltips-container {
    display: none;
}

.removal-button-small {
    display: none;
}
.adding-button-small {
    display: none;
}

#profile-text {
    text-align: left;
}

#pi-container {
    margin: 0 auto 1.5em auto;
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;                 /* Firefox 48 – 96 */
    print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
}

#pi-headline {
    margin: 0;
    padding: 0;
    justify-content: baseline;
}

#pi-headshot {
    margin-bottom: auto;
}


#pi-cv-link {
    display: none;
}

.invert-icon {
    filter: none;
}

#pi-info {
    padding: 0 0 0 2rem;
}

#pi-name {
    font-size: 1.4em;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
}

#headline-text {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
    font-size: 1.3em;
    font-weight: 400;
}

.inf-title-big {
    margin-top: 0;
}

.information-container {
    margin: 0;
    padding: 0 0 1rem 1rem;
}

.shortinf-container {
    margin: 0 0.5rem 0 0;
}

.inf-title {
    margin-top: 0.4em;
}

#JS-edit-overlay {
    display: none;
}

/* The whole editing box */
#resume-editing-aligner {
    display: none;
}

/* an A4 page is treated as under 800 pixels */
@media (max-width: 800px) {
    #inf-container {
        width: 64%;
        margin: 0 1em 0 0;
    }
    #shortinf-container {
        width: 36%;
        margin: 0 0 0 1em;
    }
    #inf-aligner {
        flex-direction: row;
        margin: 0 auto;
        width: 95%;
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
        color-adjust: exact !important;                 /* Firefox 48 – 96 */
        print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
    }
    
}
